header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}



/* <----- landing page ------> */

body{
  background-color: rgb(214, 15, 15);
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 100px;
  
}
.image-stack {

  justify-items: center;
  position: relative;
  width: 100%;
}

.image-stack__item--bottom {
  position: absolute ;
  right: 0;
  top: 0;
  width: 60%; 
  z-index: -1;
}

.image-stack__item--top {
  padding-top: 50px; 
  margin: 50px;
  width: 60%; 
}

img {
  width: 70%;
  display: block;
}
form {
  background-color: #b1b2bd;
  display: block;
  justify-items: center;
  padding: 50px;
  border-radius: 10px;
  width: 400px;
}
.logo-image {
  display: flex;
  justify-content: center;
}

.mb-3{
  display: block;
  align-items: center;
  width: 400px;
}

.btn-primary {
  width: 280px;
}

.sign-up-div{
  display: block;
  text-align: center;
  padding: 30px;
  color: rgb(239, 239, 25);
}

.sign-up{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

#plus {
  height: 30px;
}

.search-bar {
  padding: 5px;
  background-color: transparent;
}

#main-container {
  margin-top: 75px;
}

a {
  text-decoration: none;
}

.tag-button {
  width: 100%;
  padding: 10px;
  background-color: grey;
  border: none;
  color: white;
}

.tag-button:hover {
  opacity: 75%;
}

.user-card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
}

.max-width {
  max-width: 1000px;
}

.none {
  text-decoration: none;
  color: black;
}